<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pizzas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar pizzas"></ion-searchbar>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://www.anamariabrogui.com.br/assets/uploads/receitas/fotos/usuario-1932-5a1b7911dfda6e3c351c30de564da267.jpg">
    </ion-thumbnail>
    <ion-label>
      <div class="item-pizza">
        <h1>Mussarela</h1>
        <p>Seila cara</p>
      </div>
    </ion-label>
    <ion-badge slot="end" color="light">
      <div class="item-preco">
        <p class="moeda">R$</p>
        <p class="preco">99.00</p>
      </div>
    </ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="">
    </ion-thumbnail>
    <ion-label>
      <div class="item-pizza">
        <h1>Mussarela</h1>
        <p>Seila cara</p>
      </div>
    </ion-label>
    <ion-badge slot="end" color="light">
      <div class="item-preco">
        <p class="moeda">R$</p>
        <p class="preco">99.00</p>
      </div>
    </ion-badge>
  </ion-item>
  
</ion-content>